{% extends "base.html" %}
{% block title %}blog titles{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>{{ article.title }}</h1>
</div>
<div class="row">
    <div class="col-xs-112 col-md-8">
        <p class="text-center"><span>{{ article.author.username }}<span>style="margin-left:20px">{{ publish}}</span></span></p>
        <div>{{ article.body }}</div>
    </div>
    <div class="col-xs-6 col-md-4">
        <h2>广告</h2>
        <p>跟老齐学：www.itdiffer.com</p>
        <img width="500px" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1519658433653&di=335bf4e5d84db4a424ba6df79ccb5cb8&imgtype=0&src=http%3A%2F%2Fi1.hdslb.com%2Fbfs%2Farchive%2F99b75c9b8d5db87f94a5dabbca4b3b121a86943f.png">
    </div>
</div>
{% endblock %}